<div class="container mx-auto p-5">
  <div
    class="flex w-full items-center justify-center h-32 bg-lime-100 border-2 border-lime-600"
  >
    <div class="border-2 bg-lime-50 border-lime-600 p-4">
      <h1 class="text-3xl font-bold">Room of Really Really Strong Dudes</h1>
    </div>
  </div>
  <!-- TODO find a column layout that doesnt bleed content -->
  <div class="columns-2 items-center mt-2 border-2 border-lime-600">
    <div>
      <app-hero-details></app-hero-details>
    </div>
    <div>
      <app-avatar></app-avatar>
    </div>
  </div>
</div>
