<div class="container mx-auto p-5">
  <div class="flex flex-col items-center justify-center h-full bg-gray-100">
    <div class="pt-4">
      <h1 class="text-3xl font-bold">Room of Really Really Strong Dudes</h1>
    </div>
    <app-hero-search></app-hero-search>
    <div
      class="container mx-auto p-4 bg-gray-100 flex flex-row space-x-2 h-full"
    >
      @for(hero of Heroes$ | async; track hero.id) {
      <app-hero-card [hero]="hero"></app-hero-card>
      }
    </div>
  </div>
</div>
@if(logsExist$ | async){
<div class="container mx-auto p-5">
  <div class="flex justify-center h-full bg-gray-100 py-5">
    <app-audit-log></app-audit-log>
  </div>
</div>
}
