<div class="container mx-auto p-5">
  <div
    class="flex w-full items-center justify-center h-32 bg-lime-100 border-2 border-lime-600"
  >
    <div class="border-2 bg-lime-50 border-lime-600 p-4">
      <h1 class="text-3xl font-bold">Room of Really Really Strong Dudes</h1>
    </div>
  </div>
  <div class="columns-2 items-center">
    <div>
      <h3 class="h-10 italic font-bold bg-lime-50 border-lime-600">DETAILS</h3>

      <ul class="list-none">
        <li>
          <span class="font-bold">Name:</span>
          Donatello
        </li>
        <li>
          <span class="font-bold">Height:</span>
          5'6"
        </li>
        <li>
          <span class="font-bold">Favorite Pizza:</span>
          Sardines and Toothpaste
        </li>
        <li>
          <span class="font-bold">Dislikes:</span>
          Bummers
        </li>
      </ul>
    </div>

    <div>
      AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR
      AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR
      AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR AVATAR
      AVATAR AVATAR AVATAR AVATAR
    </div>
  </div>
</div>
